# GNU Arm Embedded Toolchain
gcc-arm-none-eabi-9-2020-q2-update-x86_64-linux.tar.bz2
gcc-arm-none-eabi-9-2020-q2-update/

# TA EXPT blink
ta-expt/software/blink/build/
blink.bin
blink.elf
generated.stm32l496rgt3.ld

# TA EXPT flight-401-blr
ta-expt/software/flight-401-blr/build/
ta-expt/software/flight-401-blr/*.bin
ta-expt/software/flight-401-blr/*.elf
ta-expt/software/flight-401-blr/*.hex

# TA EXPT flight-401-usr
ta-expt/software/flight-401-usr/build/
ta-expt/software/flight-401-usr/*.bin
ta-expt/software/flight-401-usr/*.elf
ta-expt/software/flight-401-usr/*.hex
